Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- Explore commonly used libraries in Data Science
- Create tables to organize Data Science
- Write Python code to evaluate arithmetic expressions.
- Practice Markdown formatting and documentation in Jupyter Notebook.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries for Data Science are:
- NumPy
- Pandas
- Matplotlib
- Sickit-learn
- TensorFlow

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Spyder                    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# Example 1: Addition
result_add = 5+3
print("5+3=", result_add)

#Example 2 Subtraction
result_minus = 10-4
print("10-4=", result_minus)

5+3= 8
10-4= 6

In [2]:
#This is a simple Arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60
200//60

3

## Author
Newton Sutradhar